@import "tailwindcss";

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-inconsolata {
  font-family: 'Inconsolata', monospace;
}

.font-xanh {
  font-family: 'Xanh Mono', monospace;
}

.font-gilda {
  font-family: 'Gilda Display', serif;
}

.font-play {
  font-family: "Playfair Display", serif;
}
.font-inconsol {
    font-family: "Inconsolata", monospace;
}

/*Scroll bar styles*/
/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* removes background */
}

::-webkit-scrollbar-thumb {
  background-color: #2f2f2f; /* dark grey */
  border-radius: 4px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2f2f2f transparent;
}
